body
{
	background-color:#fff;
	font-family: 'Poppins', sans-serif;
	color:#555;
}
.header-top {
    background: #203a72 none repeat scroll 0 0;
    padding:10px;
    color: #ffffff;
    font-size: 13px;
    position: relative;
}
.header-top .logo{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.header-top a {
    background: #203a72;
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #fff;
    /* border-radius: 4px; */
    font-weight: 400;
}
.header-top-right {
    float: right;
}


/*banner image*/
.image-wrap {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin-bottom:28px;
}

.banner-content {
    position: absolute;
	z-index: 99999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
	text-align: center;
	font-size: 1.5em;
	color: #555;
	line-height: 1.5;
	background: #ffffffa3;
	padding: 26px;
	}
.banner-content h2
{    
	font-size: 24px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.banner-content p
{
   font-size:14px;
   font-family: 'Poppins', sans-serif;
}
.img-content img {
    width: 100%;
    height:auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #530473;
    opacity: .8;
    z-index: 999;
     }

.ban-btn {
	background-color: #203a72;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/*style for students*/
.topheading
{
    margin-bottom:45px;
    margin-top:-12px;
}
.ht-single-students {
    margin-bottom: 30px;
}
 .ht-students-img {
    overflow: hidden;
}
 .ht-students-img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.ht-students-text {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 23px 30px 30px;
    position: relative;
    z-index: 2;
}
.ht-students-text > h3 {
    color: #616161;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

/*style for counter*/
.counter
{
background-color:#203a72;
padding-top:0px;
padding-bottom: 0px;

}

.counter-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.counter-wrap > .counter {
    padding: 0 15px 10px;
}

.item-col-4 > * {
    width: 25%;
}
.counter-wrap.style-2:not(.var2) .counter .count-item {
    padding-left: 0;
    text-align: center;
}

.counter-wrap.style-2 .counter .count-item {
    color: #c9c9c9;
}
.counter .count-item {
    padding-left: 90px;
    position: relative;
    color: #777;
}
.counter-wrap.style-2 .count-number {
    color: #fff;
}
.count-number:not(:last-child) {
    margin-bottom: 0;
}
.count-number {
    color: #b01933;
    font-size:35px;
    font-style: normal;
    line-height: 1em;
}
.counter .count-item p {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}
/*style for news & events*/
.event-img a {
    display: block;
    position: relative;
}
.single-events {
    margin-bottom: 30px;
}
 .events-img {
    overflow: hidden;
}
.event-img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.event-img{
    overflow: hidden;
}

.events-text {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 23px 30px 30px;
    position: relative;
    z-index: 2;
}
.events-text > h3 {
    color: #616161;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
.event-time {
    background: #b02c2d none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 24px;
    height: 53px;
    left: 0;
    line-height: 56px;
    padding: 0 0 0 19px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 104px;
}
.event-info i {
    color: #fc2c62;
    font-size: 15px;
    padding-right: 7px;
    position: relative;
    top: 1px;
}
.event-info {
    color: #616161;
    font-size: 13px;
    margin-bottom: 6px;
}
.event-info {
    margin-bottom: 20px;
}
.single-event:hover .event-img img {
    transform: scale(1.1);
}
.single-event:hover .event-time {
    background: #000;
}
.news-events
{
    background-color:#f5f5f5;
    padding:28px;
    margin-bottom:28px;
}

/*style for about us*/
.about-us
{
    margin-bottom:40px;
}
.content-about
{
    background-color:#2c416c;
    color:#fff;
    padding:10px;
}
.content-about h2
{
    font-size:20px;
}
.content-about p
{
   font-size:12px;
}
.col-md-3.content-aboutimg {
    padding-right: 0;
    padding-left: 0;
}

/*style for footer*/
.footer {
    padding:24px 0px;
    color: #ccc;
    background-color:#2c416c;
}

.footer h3 {
    color: #FFF;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:20px;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 10px 0px;
    display: block;
    color: #ccc;
    font-weight: 600;
    font-size: 13px;
}

.footer ul li a:hover{
    color:#1e76a8;
}

.footer-bottom{
    background-color: #111;
    color: #282c2d;
    font-size: 12px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.footer-bottom p{
    font-size:13px;
    color: #FFF;
}

.footer-top{
    background-color: #f7f7f7;
    text-align: center;
}

.footer-top .social-icons{
   padding:50px 0px;
}

.footer-top .social-icons i{
    padding:0px 20px;
    font-size:20px;
    color: #aaa;
}

.footer-top .social-icons i:hover{
    color:#1e76a8;
}

.logo{
   color:#FFF;
   font-size:30px;
   font-weight:600;
}
